*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Manrope',sans-serif;
    position: relative;
}

button{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

address{
    font-style: normal;
}

.city-select{
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
}

.selectCity{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selectCity img{
   height: 16px;
   width: 16px;
   margin-right: 8px;
}

.city-select:focus{
   outline: none;
}

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}
.burger{
    position: absolute;
    top:0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 4px 0px 50px rgba(0, 0, 0, 0.15);
    padding: 16px;
    width: 340px;
    z-index: 1000000;
}

.burger-close{
    margin-bottom: 22px;
}

.menu-content{
    display: none;
}

.menu-img{
    background-image: url(../img/Frame\ 1453.svg);
    width: 8px;
    height: 8px;
}

.menu-item__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px 16px;
    margin-bottom: 8px;
    background: #F8F8F8;
    border-radius: 10px;
}

.menu-item__header h3{
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    color: #000000;
}

.line{
    width: 18px;
    height: 2px;
    background: #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.mobile-menu{
    gap: 8px;
    display: none;
    cursor: pointer;
}

.menu-content ul{
    list-style: none;
    box-sizing: border-box;
    margin-left: 0px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-content ul li {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    border-bottom: 0px solid #000;
}

.menu li{
    border-bottom: 1px solid #F8F8F8;

}

.active .menu-item__header h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.active .menu-content{
    display: flex;
    flex-direction: column;
}

.active .menu-item__header .menu-img{
    background-image: url('../img/Frame 2.svg');
}

.display-none{
    display: none;
}

.nav-item{
    cursor: pointer;
}

.burger-close{
    cursor: pointer;
}


header{
    margin: 0 auto;
    max-width: 1290px;
}

.header-top{
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;
}

.header__more-info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
    max-width: 730px;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-right: 75px;
}

.header__more-info address, 
.header__more-info p, 
.header__more-info a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__icon{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.logo{
    margin-right: 39px;
    align-items: center;
}

.logo-img{
    width: 31px;
    height: auto;
    margin-right: 9px;
}

.logo-name{
    width: 141px;
}

.logo-name h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 110%;
    color: #000000;
    padding-bottom: 4px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 3px;
}

.logo-name p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 130%;
}


.header-bottom{
    align-items: center;
    justify-content: space-between;
    margin-right: 7px;
    margin-bottom: 27px;
}


.header__descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    width: 180px;
    margin-right: 85px;
}

.header-main{
    align-items: center;
}


.header__input img{
 padding: 11px;
 background-color: blue;
 border-radius: 10px;
 cursor: pointer;
 transition: all .2s ease-in-out;
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -ms-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
}


.header__input img:hover{
   background-color: #A20E8B;
   }

.header__phone-number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.header__input{
    align-items: center;
    outline: 1px solid #E1E1E1;
    border-radius: 10px;
}

.header__search::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #DEDEDE;
}


.header__search{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 14px;
    border: 0;
    outline: 0;
    width: 205px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.header_nav{
    align-items: center;
    justify-content: space-between;
    margin-right: 87px;
    margin-bottom: 34px;
}

.nav-list{
    gap:40px ;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
}

.card{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    align-items: flex-end;
}

.card img{
    margin-right: 6px;
}

.card p{
 padding-bottom: 4px;
}

.breadcrumb{
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.breadcrumb-main{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    color: #000000;
}

.breadcrumb-other{
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: #818181;
    margin-left: 26px;
    position: relative;
}

.breadcrumb-other:after{
   content: '';
   position: absolute;
   background-image: url('../img/Frame 23.svg');
   width: 8px;
   height: 8px;
   bottom: 4px;
   left: -16px;
}

.main{
    max-width: 1290px;
    margin: 0 auto;
}

.menu1{
    width: 300px;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 48px;
}

.menu-list{
    width: 100%;
    gap: 16px;
}


.menu-item a{
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    background-color: #F8F8F8;
    border-radius: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
    display: block;
}

.active-page a{
    background: linear-gradient(94.87deg, #0036F8 52.3%, #001C81 88.94%);
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
}










.swiper{
    max-width: 270px;
    margin-top: 32px;
}


.swiper-wrapper{
    width: 270px;
    margin: 0 auto;
}


.swiper-button-prev::after{
    display: none;
}

.swiper-button-prev{
    left: 7px;
    top: center;
    right: auto;
    height: 16px;
    width: 16px;
    background-position: center;
    background-image: url('../img/Frame 1469.svg');
}

.swiper-button-next::after{
    display: none;
}

.swiper-button-next{
    left: auto;
    top: center;
    right: 7px;
    height: 16px;
    width: 16px;
    background-position: center;
    background-image: url('../img/Frame 1468.svg');
}
.swiper-slide img{
    width: 100%;
}

.swiper-slide{
    width: 208px;
}

.swiper-btn{
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 17px;
    width: 208px;
    background: #0036F8;
    border-radius: 6px;
}

.category-right{
    width: 960px;
}

.category-right__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 32px;
}

.category-right__list{
    flex-wrap: wrap;
    gap: 30px;
    max-width: 960px;
    margin-bottom: 40px;
}

.category-right__item{
    max-width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: 1px solid #E1E1E1;
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}


.payment-card,.payment-withoutCard{
    width: 410px;
    align-items: flex-start;
}


.payment-list{
    width: 100%;
    justify-content: space-between;
    margin-bottom: 48px;
}


.payment-img{
    width: 100px;
    height: 100px;
    margin-bottom: 24px;
}

.payment-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 16px;
}

.payment-descr{
    margin-bottom: 32px;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
}


.payment-variant__list{
    align-items: center;
    gap: 32px;
}


.important{
    padding: 24px;
    border: 2px solid #0036F8;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: space-between;
}

.important-title{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #0036F8;
}

.important-info{
    width: 716px;
}

.important-descr{
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 24px;
}

.important-delivery{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 14px;
}

.important-delivery__descr{
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 24px;
}

.important-bottom{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}




















footer{
    background-image: url('../img/Subtract.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
}
.footer-bg{
    padding-top: 176px;
    background-image: url('../img/image1 1.png'), url('../img/image1 2.png'),url('../img/image1 1.png');
    background-size:34.3% ,30.7%, 34.3%;
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: bottom left, bottom center, bottom right;
}

.footer-center{
    max-width: 1290px;
    margin: 0 auto;
}

.f-logo{
    margin-right: 111px;
    align-items: center;
}

.f__logo-img{
    width: 56px;
    height: auto;
    margin-right: 16px;
}

.f__logo-name{
    width: 256px;
}

.f__logo-name h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 110%;
    color: #000000;
    padding-bottom: 9px;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 6px;
}

.f__logo-name p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}


.footer__phone-number{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-right: 98px;
    white-space: nowrap;
}

.footer-top{
    align-items: center;
    margin-bottom: 32px;
}

.footer__input{
    align-items: center;
    outline: 1px solid #E1E1E1;
    border-radius: 10px;
    margin-right: 98px;
}

.footer__search::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #DEDEDE;
}


.footer__search{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 14px;
    border: 0;
    outline: 0;
    width: 250px;
    margin-right: 10px;
    border-radius: 10px;
}

.footer__input img{
    padding: 12px 10px;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}



.footer__input img:hover{
    background-color: #A20E8B;
}   
.social-list{
    gap: 16px;
    align-items: center;
}

.social-item{
    width: 24px;
    height: 24px;
}

.social-item a{
    display: block;
    width: 24px;
    height: 24px;
}

.social-item a img{
    width: 24px;
    height: 24px;
}

.footer-main__item{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 16px;
    max-width: 190px;
}

.footer__list-name{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.footer-main__list{
   margin-top: 8px;
}

.footer-main__list:not(:nth-child(3)){
    margin-right: 30px;
}

.footer-main__list:nth-child(3){
    margin-right: 250px;
}


.work-time h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
}


.work-time p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 22px;
}


.recvisites h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 8px;
}


.recvisites p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 160%;
}

.recvisites{
    margin-bottom: 18px;
}


.more-question{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
}

.number-small{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 8px;
}

.phone-more{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 24px;
}

.agreement,.offer{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
    text-decoration-line: underline;
    color: #0036F8;
 
}

.agreement{
    margin-bottom: 16px;
}

.footer-main{
    padding-bottom: 350px;
}

.footer__woman-bg{
    position: absolute;
    bottom: 0;
    right: 284px;
    background-image: url('../img/Group 1475.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 403px;
    height: 376px;
}

.open-right__menu{
    position: absolute;
    padding: 10px 4px;
    background: linear-gradient(94.87deg, #0036F8 52.3%, #001C81 88.94%);
    border-radius: 0px 6px 6px 0px;
    top: 114px;
    cursor: pointer;
    display: none;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.burger-box{
    display: none;
}

@media (max-width:1350px) {
    header {
       padding-left: 20px;
       padding-right: 20px;
    }
    .nav-list {
        gap: 25px;
        font-size: 12px;
    }
    .header_nav {
        margin-right: 7px;
    }

    main {
        padding-left: 20px;
        padding-right: 20px;
    }


    .reviews-item {
        width: 31%;
    }

    .reviews {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-between;
    }








    .footer-center {
        padding-left: 20px;
        padding-right: 20px;
    }
    .f-logo {
       margin-right: 0;
    }
    .footer__phone-number {
        margin-right: 0;
        font-size: 16px;
    }
    .footer__input {
       margin-right: 0;
    }
    .footer-top {
       justify-content: space-between;
    }
    .footer__search {
        font-size: 10px;
        line-height: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 193px;
    }
    .social-list {
        gap: 8px;
    }
    .footer-main__list:not(:nth-child(3)) {
        margin-right: 0px;
    }
    .footer-main__list:nth-child(3) {
        margin-right: 0px;
    }
    .footer-main {
       justify-content: space-between;
    }
}

@media (max-width:1250px) {
   
    .footer__woman-bg {
        width: 369px;
        height: 345px;
    }

    .payment-list {
        gap: 30px;
    }
    .payment-card, .payment-withoutCard {
        max-width: 410px;
        align-items: flex-start;
        width: inherit;
    }

    .payment-variant__list {
        align-items: center;
        justify-content: space-between;
        gap:0px;
    }

    .important {
        gap: 20px;
    }

    .important-info {
        width: 100%;
    }
}
@media (max-width:1150px) {

}






@media (max-width:992px) {
    .header__phone-number {
        font-size: 14px;
    }
    .header-bottom {
        margin-right: 0px;
    }
    .header_nav {
        margin-right: 0px;
    }
    .nav-list {
        gap: 12px;
        font-size: 10px;
    }
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__descr {
        font-size: 10px;
        margin-right: 20px;
        width: 153px;
    }
    .logo {
        margin-right: 27px;
    }
    .header__search {
        font-size: 10px;
        line-height: 14px;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 142px;
        margin-right: 10px;
    }
    .header__more-info {
        margin-right: 0;
    }

    .menu1 {
        width: 200px;
    }

    .swiper {
        max-width: 190px;
        margin-top: 32px;
    }

   

    .payment-variant__list li{
        width: 25%;
    }


    .payment-variant__list li img{
        width: 100%;
    }

    .payment-variant__list {
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }

    .payment-descr {
        font-size: 12px;
    }

    .important-title {
        font-size: 18px;
        line-height: 26px;
    }

    .important-descr {
        font-size: 12px;
    }

    .important-delivery__descr {
        font-size: 12px;
    }


    .footer-main__item {
        font-size: 10px;
        max-width: 140px;
    }
    .footer-info{
        width: 170px;
    }
    .phone-more {
        font-size: 10px;
        margin-bottom: 16px;
    }

    .work-time p {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .recvisites p {
        font-size: 10px;
    }

    .agreement{
        font-size: 10px;
    }
    .footer-center {
        padding-left: 10px;
        padding-right: 10px;
    }
    .f__logo-img {
        width: 33px;
        margin-right: 14px;
    }
    .f__logo-name {
        width: 216px;
    }
    .f__logo-name h3 {
        font-size: 12px;
    }
    .f__logo-name p {
        font-size: 12px;
    }
    .footer__phone-number {
        font-size: 12px;
    }
    .footer__search {
        font-size: 10px;
        width: 120px;
    }
    .footer__search::placeholder {
        font-size: 10px;
    }
    .social-item a img {
        width: 16px;
        height: 16px;
    }
    .social-item a {
        width: 16px;
        height: 16px;
    }
    .social-item {
    width: 16px;
    height: 16px;
}
}





@media (max-width:744px) {
    .header-top{
        display: none;
    }
    .header__descr {
       display: none;
    }
    .nav-list {
        display: none;
    }

    header {
       display: flex;
       flex-direction: row;
       align-items: center;
       padding-top: 16px;
       padding-bottom: 16px;
       padding-left: 12px;
       padding-right: 12px;
       justify-content: space-between;
    }
    .logo {
            margin-right: 6%;
    }
    .logo-img {
        width: 25px;
        margin-right: 7px;
    }
    .logo-name {
        width: 113px;
    }
    .logo-name h3 {
        font-weight: 700;
        font-size: 6.4px;
    }
    .logo-name p {
        font-size: 6.4px;
    }
    .header-bottom{
        justify-content: space-between;
        margin-bottom: 0;
    }
    .header__input img {
        padding: 6px;
        height: 24px;
        width: 24px;
        border-radius: 6px;
    }
    .header__search {
        font-size: 10px;
        line-height: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
        max-width: 215px;
        width: 215px;
    }
    .header__input {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        margin-right: 33px;
}
.header_nav {
    margin-bottom: 0;
}
.mobile-menu{
    display: flex;
    gap: 3px;
    margin-right: 27px;
}
.header__phone-number {
    font-size: 12px;
    display: inline-block;
    margin-left: 33px;
}
.burger-box{
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    width: 278px;
    background-color: #fff;
    z-index: 102;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.15);
    border-radius: 0px 10px 10px 0px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.activeMainBurger{
    left: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.burgerMenu{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.burger-header{
    gap: 16px;
}

.burger__input {
    outline: 1px solid #E1E1E1;
    border-radius: 6px;
    height: 24px;
}

.burger__input img{
    background: #0036F8;;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.burger__search {
    outline: 0;
    border: 0;
    margin-left: 7px;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    width: 175px;
}

.burger__search:focus{
    outline: 0;
    border: 0;
}

.burger-header{
    margin-bottom: 16px;
}

.burger-header button{
    height: 24px;
}

.active1 .menu-content{
    display: flex;
}

.active1 .menu-item__header{
    background: linear-gradient(94.87deg, #0036F8 52.3%, #001C81 88.94%);
border-radius: 6px;
}

.active1 .menu-item__header h3{
    color: #fff;

}

.active1 .menu-item__header .menu-img{
    width: 12px;
    height: 12px;
    background-size: contain;
    background-image: url('../img/Frame 33333.svg');
}

.payment-descr {
    font-size: 10px;
}

.category-right__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 16px;
}

.important-descr {
    font-size: 10px;
}
.payment-list {
    gap: 15px;
}

.important-delivery__descr {
    font-size: 10px;
}



















.footer-center {
    padding-left: 12px;
    padding-right: 12px;
}
.footer-bg {
    padding-top: 20px;
}

.footer__input {
    background-color: white;
    margin-right: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.footer__phone-number {
   display: none;
}


.f__logo-name {
    width: 151px;
}
.f__logo-name h3 {
    font-size: 8.5px;
}
.f__logo-name p {
    font-size: 8.8px;
}

.footer__search {
    font-size: 10px;
    width: 196px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer__input img {
 padding: 4px 4px;
 width: 24px;
 height: 24px;
 border-radius: 6px;
 -webkit-border-radius: 6px;
 -moz-border-radius: 6px;
 -ms-border-radius: 6px;
 -o-border-radius: 6px;
}


.footer-main {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 282px;
    gap: 40px;
    padding-bottom: 274px;
}
.footer-main__item {
    font-size: 10px;
    max-width: 190px;
    margin-bottom: 8px;
}

.number-small{
    display: flex;
}
.footer-info{
    position: absolute;
    right: 25px;
    width: 190px;
}
.more-question {
    margin-bottom: 8px;
    font-size: 12px;
}
.footer__phone-number {
    font-size: 18px;
    margin-bottom: 3px;
}

.work-time p {
    font-size: 10px;
    margin-bottom: 24px;
}
.footer-bg {
    background-size: 66.3% ,30.7%, 66.3%;
}

.footer__woman-bg {
    right: 18px;
}

}

@media (max-width:720px) {
    .mobile-menu {
        margin-right: 12px;
    }
    .logo {
        margin-right: 4%;
    }
    .header__input {
        margin-right: 0px;
    }
    .header__phone-number {
        font-size: 9px;
    }

    
}
@media (max-width:650px) {
    .card img {
        width: 20px;
        height: 20px;
    }
    .header__search {
        width: 137px;
    }
   

    .menu1{
        position: absolute;
        left: -100%;
        top:110px;
        background-color: #fff;
        z-index: 100;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        width: 240px;
        margin-right: 0;
        background: #FFFFFF;
        box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 8px;
}

    .active-burger{
        left: 19px;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }
    .openedBurger img{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
}

.open-right__menu{
    display: block;
    left: 0;
    z-index: 101;
}
.swiper {
    display: none;
 }

 .swiper-btn {
    display: none;
 }







    .footer__search {
        width: 100px;
    }
}

@media (max-width:568px) {
    .card img {
        width: 16px;
        height: 16px;
    }
    .header__search {
        width: 100px;
    }
    .card {
        align-items: center;
        font-size: 8px;
    }
    .card p {
        padding-bottom: 0;
    }
    .logo-img {
        width: 18px;
        margin-right: 5px;
    }
    .logo-name {
    width: 78px;
    }
    .logo-name h3 {
        font-size: 4.4px;
    }
    .logo-name p {
        font-size: 4.4px;
    }

    .header__phone-number {
        margin-left: 25px;
        font-size: 8px;
    }
    



















    .social-list {
        gap: 4px;
    }
    .f__logo-img {
        width: 24px;
        margin-right: 9px;
    }
    .f__logo-name {
        width: 120px;
    }
    .f__logo-name h3 {
        font-size: 6.5px;
        padding-bottom: 4px;
        margin-bottom: 4px;
    }
    .f__logo-name p {
        font-size: 6.8px;
    }
}


@media (max-width:460px) {
    header {
        padding-left: 8px;
        padding-right: 8px;
    }
    .header__search {
        width: 55px;
        margin-right: 6px;
        padding-left: 6px;
    }

    .mobile-menu {
        margin-right: 8px;
    }

    .header__phone-number {
        margin-left: 15px;
        font-size: 8px;
    }

    

    .card img {
        margin-right: 2px;
        width: 10px;height: 10px;
    }
    .card {
    font-size: 7px;
}
.header__phone-number {
    margin-left: 15px;
    font-size: 7px;
}

.category-right__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 16px;
    text-align: center;
}


.payment-list {
    gap: 24px;
    flex-direction: column;
}

.payment-img {
    width: 74px;
    height: 74px;
    margin-bottom: 24px;
    position: absolute;
    left: 0;
}
.payment-card, .payment-withoutCard {
    position: relative;
    padding-left: 90px;
}

.payment-variant__list {
    gap: 21px;
}
.payment-descr {
    font-size: 12px;
}

.payment-name {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
}

.important {
    gap: 10px;
    flex-direction: column;
    padding: 16px;
}

.main {
    margin-bottom: 84px;
}

.important-descr {
    font-size: 12px;
    margin-bottom: 16px;
}

.important-delivery__descr {
    font-size: 12px;
    margin-bottom: 16px;
}

.important-delivery {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
}

.important-bottom {
    font-size: 12px;
    line-height: 18px;
}


.footer-top {
    flex-wrap: wrap;
    gap: 30px;
}

.footer-info {
    width: 157px;
    right: 8px;
}

.footer-main {
    margin-right: 55%;
}
.footer-main__item {
    font-size: 9px;
}
}




@media (max-width:360px) {
    header{
        padding: 10px 8px 10px 18px;
        border-bottom: 1px solid  #E1E1E1;
        margin-bottom: 16px;
    }

    .breadcrumb {
        display: none;
    }
    .header-main {
        width: 100%;
        justify-content: space-between;
    }

    .header-bottom {
        width: 75%;
    }
    .header__input {
        display: none;
    }

    .header__phone-number {
        display: none;
    }

    .card p {
       display: none;
    }

    .card img {
        margin-right: 0px;
        width: 24px;
        height: 24px;
    }

    .logo-img {
        width: 25px;
        margin-right: 8px;
    }
    .logo-name {
        width: 113px;
    }
    .logo-name h3 {
        font-size: 6.4px;
    }
    .logo-name p {
        font-size: 6.4px;
    }









    main {
        padding-left: 8px;
        padding-right: 8px;
    }


    .reviews-more {
        font-size: 12px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .category-right__title {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }


    .category-right {
        width: 100%;
    }

    .reviews {
        flex-wrap: nowrap;
        gap: 15px;
        justify-content: space-between;
        overflow-y: auto;
        scroll-snap-type: x mandatory;
    }

    .reviews-item {
        min-width: 300px;
    }

    .reviews-descr {
        font-size: 14px;
    }

    .reviews-item img {
        height: auto;
        width: 126px;
        margin-bottom: 16px;
    }

.reviews::-webkit-scrollbar { width: 0; }
.reviews { -ms-overflow-style: none; }
.reviews { overflow: -moz-scrollbars-none; }


.footer-top {
    flex-direction: column;
    gap: 32px;  
    margin-bottom: 0;
}
.footer-bg {
    padding: 0;
}

.f__logo-img {
    width: 33px;
    margin-right: 10px;
}
.footer-center {
    padding-left: 8px;
    padding-right: 8px;
}
.f__logo-name {
    width: 151px;
}
.f__logo-name h3 {
    font-size: 8.5px;
    padding-bottom: 6px;
    margin-bottom: 6px;
}
.f__logo-name p {
    font-size: 8.8px;
}
.footer__search {
    width: 214px;
}

.footer-main__list:not(:nth-child(3)) {
    display: none;
}
.footer__woman-bg {
    width: 278px;
    height: 260px;
    right: 0;
}

.footer-main__list:nth-child(3) {
    margin-right: 0px;
    display: none;
}
.footer-info {
    text-align: center;
    width: 100%;
    right: 8px;
    position: static;
}

.footer-main {
    margin-right: 0;
    width: 100%;
    padding-bottom: 356px;
}

.number-small {
    font-size: 18px;
    margin-bottom: 3px;
    display: inline-block;
}

.social-list {
    gap: 16px;
    bottom: 300px;
    right: 30%;
    position: absolute;
}


}